/*Fonts*/

@font-face{
	font-family:Felix;
	src:url(../fonts/felix.woff2) format("woff2"),url(../fonts/felix.woff) format("woff");
	font-style: normal;
	font-weight: normal;
}
@font-face{
	font-family:Exo;
	src:url(../fonts/exo-latin-regular.woff2) format("woff2"),url(../fonts/exo-latin-regular.woff) format("woff");
	font-style: normal;
	font-weight: normal;
}