/*Header logo*/

.header-logo{
	position:absolute;
	left:90px;width:-webkit-calc(100% - 90px);
	width:calc(100% - 90px);
	top:30px;
	z-index:11
}
@media screen and (max-width:991px){
	.header-logo{
		display:none
	}
}
.header-logo .logo-wrapper{
	position:relative;
	display:inline-block;
	padding-left:5%
}
.header-logo .logo-wrapper img{
	width:100%;
	max-width:120px;
	height:auto;
	vertical-align:middle
}