/*Mouse-anim*/

.mouse-wrapper{
	position:absolute;
	left:50%;
	bottom:50px;
	transform:translateX(-50%);
	cursor:pointer;
	z-index:100;

	@media screen and (max-height:450px){
		&{
			bottom:15px
		}
	}
	@media screen and (max-width:991px){
		&{
			display:none
		}
	}
}

.mouse{
	position:relative;
	z-index:100;
	background:#FFA500 linear-gradient(transparent,transparent 50%,#000 0,#000);
	width:20px;
	height:34px;
	border-radius:100px;
	background-size:100% 200%;
	animation:colorSlide 8s linear infinite,nudgeMouse 8s ease-out infinite;

	&:after,.mouse:before{
		content:"";
		position:absolute;
		top:0;
		right:0;
		bottom:0;
		left:0;
		margin:auto
	}
	&:before{
		width:16px;
		height:30px;
		background-color:#e5e5e5;
		border-radius:100px
	}
	&:after{
		background-color:#000;
		width:4px;
		height:4px;
		border-radius:100%;
		animation:trackBallSlide 8s linear infinite
	}
}


@-webkit-keyframes colorSlide{
	0%{
		background-position:0 100%
	}
	20%{
		background-position:0 0
	}
	21%{
		background-color:#FFA500
	}
	29.99%{
		background-color:#000;
		background-position:0 0
	}
	30%{
		background-color:#FFA500;
		background-position:0 100%
	}
	50%{
		background-position:0 0
	}
	51%{
		background-color:#FFA500
	}
	59%{
		background-color:#000;
		background-position:0 0
	}
	60%{
		background-color:#FFA500;
		background-position:0 100%
	}
	80%{
		background-position:0 0
	}
	81%{
		background-color:#FFA500
	}
	90%,to{
		background-color:#000
	}
}
@keyframes colorSlide{
	0%{
		background-position:0 100%
	}
	20%{
		background-position:0 0
	}
	21%{
		background-color:#FFA500
	}
	29.99%{
		background-color:#000;
		background-position:0 0
	}
	30%{
		background-color:#FFA500;
		background-position:0 100%
	}
	50%{
		background-position:0 0
	}
	51%{
		background-color:#FFA500
	}
	59%{
		background-color:#000;
		background-position:0 0
	}
	60%{
		background-color:#FFA500;
		background-position:0 100%
	}
	80%{
		background-position:0 0
	}
	81%{
		background-color:#FFA500
	}
	90%,to{
		background-color:#000
	}
}

@-webkit-keyframes trackBallSlide{
	0%{
		opacity:1;
		transform:scale(1) translateY(-6px)
	}
	6%{
		opacity:1;
		transform:scale(.9) translateY(1.5px)
	}
	14%{
		opacity:0;
		transform:scale(.4) translateY(12px)
	}
	15%,19%{
		opacity:0;
		transform:scale(.4) translateY(-6px)
	}
	28%,29.99%{
		opacity:1;
		transform:scale(1) translateY(-6px)
	}
	30%{
		opacity:1;
		transform:scale(1) translateY(-6px)
	}
	36%{
		opacity:1;
		transform:scale(.9) translateY(1.5px)
	}
	44%{
		opacity:0;
		transform:scale(.4) translateY(12px)
	}
	45%,49%{
		opacity:0;
		transform:scale(.4) translateY(-6px)
	}
	58%,59.99%{
		opacity:1;
		transform:scale(1) translateY(-6px)
	}
	60%{
		opacity:1;
		transform:scale(1) translateY(-6px)
	}
	66%{
		opacity:1;
		transform:scale(.9) translateY(1.5px)
	}
	74%{
		opacity:0;
		transform:scale(.4) translateY(12px)
	}
	75%,79%{
		opacity:0;
		transform:scale(.4) translateY(-6px)
	}
	88%,to{
		opacity:1;
		transform:scale(1) translateY(-6px)
	}
}

@keyframes trackBallSlide{
	0%{
		opacity:1;
		transform:scale(1) translateY(-6px)
	}
	6%{
		opacity:1;
		transform:scale(.9) translateY(1.5px)
	}
	14%{
		opacity:0;
		transform:scale(.4) translateY(12px)
	}
	15%,19%{
		opacity:0;
		transform:scale(.4) translateY(-6px)
	}
	28%,29.99%{
		opacity:1;
		transform:scale(1) translateY(-6px)
	}
	30%{
		opacity:1;
		transform:scale(1) translateY(-6px)
	}
	36%{
		opacity:1;
		transform:scale(.9) translateY(1.5px)
	}
	44%{
		opacity:0;
		transform:scale(.4) translateY(12px)
	}
	45%,49%{
		opacity:0;
		transform:scale(.4) translateY(-6px)
	}
	58%,59.99%{
		opacity:1;
		transform:scale(1) translateY(-6px)
	}
	60%{
		opacity:1;
		transform:scale(1) translateY(-6px)
	}
	66%{
		opacity:1;
		transform:scale(.9) translateY(1.5px)
	}
	74%{
		opacity:0;
		transform:scale(.4) translateY(12px)
	}
	75%,79%{
		opacity:0;
		transform:scale(.4) translateY(-6px)
	}
	88%,to{
		opacity:1;
		transform:scale(1) translateY(-6px)
	}
}

@-webkit-keyframes nudgeMouse{
	0%{
		transform:translateY(0)
	}
	20%{
		transform:translateY(8px)
	}
	30%{
		transform:translateY(0)
	}
	50%{
		transform:translateY(8px)
	}
	60%{
		transform:translateY(0)
	}
	80%{
		transform:translateY(8px)
	}
	90%{
		transform:translateY(0)
	}
}
@keyframes nudgeMouse{
	0%{
		transform:translateY(0)
	}
	20%{
		transform:translateY(8px)
	}
	30%{
		transform:translateY(0)
	}
	50%{
		transform:translateY(8px)
	}
	60%{
		transform:translateY(0)
	}
	80%{
		transform:translateY(8px)
	}
	90%{
		transform:translateY(0)
	}
}