/*Projects*/

.projects{
	position:relative;
	width:100%;
	padding-top:100px;
	z-index:3;

	@media screen and (max-width:767px){
		&{
			padding-top:50px
		}
	}
	& .projects-circle{
		position:absolute;
		width:510px;
		height:510px;
		top:-240px;
		right:-255px;
		z-index:2;
		animation:rotation 50s linear infinite
	}
	@media screen and (max-width:1350px){
		& .projects-circle{
			width:410px;
			height:410px;
			top:-200px;
			right:-200px
		}
	}
	@media screen and (max-width:991px){
		& .projects-circle{
			width:300px;
			height:300px;
			top:-150px;
			right:-150px
		}
	}
	@media screen and (max-width:767px){
		& .projects-circle{
			width:200px;
			height:200px;
			top:-100px;
			right:-100px
		}
	}
	& .projects-title{
		position:relative;
		width:100%;
		z-index:11;
		padding-bottom:20px;
		color: #fff;
	}
	@media screen and (max-width:1350px){
		& .projects-title{
			padding-bottom:80px
		}
	}
	&-title-text{
		font-family:Felix,sans-serif;
		font-weight:400;
		font-size:140px;
		line-height:170px;
		text-align:left;
		color:#fff;
		text-transform:uppercase
	}
	@media screen and (max-width:1350px){
		& .projects-title .projects-title-text{
			font-size:10vw;
			line-height:12vw
		}
	}
	& .project-number{
		position:absolute;
		top:-30px;
		left:-50px;
		font-family:Felix,sans-serif;
		font-weight:400;
		font-size:120px;
		line-height:40px;
		text-align:left;
		color:#212121;
		z-index:-1;
		text-transform:uppercase
	}
	@media screen and (max-width:1350px){
		& .project-number{
			font-size:100px
		}
	}
	@media screen and (max-width:575px){
		& .project-number{
			font-size:80px;
			left:-30px
		}
	}
	& .project-title{
		font-family:Felix,sans-serif;
		font-weight:400;
		font-size:50px;
		line-height:54px;
		text-align:left;
		color:#fff;
		z-index:11;
		transition:transform .5s cubic-bezier(.4,0,.2,1);
		text-transform:uppercase;
		padding:0 15px;
		padding-bottom:15px;
		width:100%
	}
	@media screen and (max-width:1199px){
		& .project-title{
			font-size:40px;
			line-height:44px
		}
	}
	@media screen and (max-width:991px){
		& .project-title{
			font-size:36px;
			line-height:40px
		}
	}
	@media screen and (max-width:767px){
		& .project-title{
			font-size:28px;
			line-height:32px
		}
	}
	@media screen and (max-width:575px){
		& .project-title{
			font-size:24px;
			line-height:28px
		}
	}
	& .projects-wrapper-mobile{
		position:relative;
		width:100%;
		padding-top:90px;
		padding-bottom:90px;
		background-color:#FFA500;
		display:none
	}
	@media screen and (max-width:991px){
		& .projects-wrapper-mobile{
			display:block
		}
	}
	@media screen and (max-width:767px){
		& .projects-wrapper-mobile{
			padding-top:50px;
			padding-bottom:50px
		}
	}
	& .projects-wrapper{
		position:relative;
		width:100%;
		padding-top:140px;
		background-color:#FFA500
	}
}
@media screen and (max-width:1199px){
	.project-image{
		width:85%
	}
}

.project-item {
	text-decoration: none;
	min-height: 450px;
	display: flex;
	align-items: flex-end;

	@media (max-width:900px){
		& {
			min-height: 350px;
		}
	}
	
	@media (max-width:400px){
		& {
			min-height: 300px;
		}
	}
	&:hover .project-title {
		transform: translate(30px,-30px);
	}
	&:hover .project-image {
		transform: scale(.9);
		filter: grayscale(0);
	}
}

.project-image {
	position: absolute;
	margin-right: 50px;
	right: 0;
	bottom: 0;
	width: 80%;
	height: 50%;
	z-index: 9;
	filter: grayscale(100%);
	transition: filter .5s cubic-bezier(.4,0,.2,1),transform .5s cubic-bezier(.4,0,.2,1);

	@media (max-width:900px){
		& {
			height: 70%;
		}
	}
	
	@media (max-width:400px){
		& {
			height: 80%;
		}
	}
}

.project-number {
	position: absolute;
	top: -30px;
	left: -50px;
	font-family: Felix,sans-serif;
	font-weight: 400;
	font-size: 120px;
	line-height: 40px;
	text-align: left;
	color: #212121;
	text-transform: uppercase;
}

.project-title {
	font-family: Felix,sans-serif;
	font-weight: 400;
	font-size: 50px;
	line-height: 54px;
	text-align: left;
	color: #fff;
	z-index: 11;
	transition: transform .5s cubic-bezier(.4,0,.2,1);
	text-transform: uppercase;
	padding: 0 15px;
	padding-bottom: 15px;
	width: 100%;
}