/*Slider*/

.projects .projects-wrapper-mobile .swiper-container{
	overflow:visible;
	width:70%;
	margin-left:0;

	@media screen and (max-width:767px){
		&{
			width:80%
		}
	}
	@media screen and (max-width:575px){
		&{
			width:90%
		}
	}
}

.project-next.swiper-button-disabled{
	opacity:0
}
.project-next.swiper-button-next{
	position:relative;
	cursor:pointer;
	outline:none;
	transition:opacity .5s cubic-bezier(.4,0,.2,1);
	width:20px;
	height:20px;
	fill:#fff;
	display:inline-block;
	vertical-align:middle;
	left: 92%;
	opacity: 1;
	margin-bottom: 80px;
}

.swiper-button-next:after,
.swiper-button-prev:after{
	opacity: 0;
}

.project-prev.swiper-button-prev{
	position:relative;
	cursor:pointer;
	outline:none;
	transition:opacity .5s cubic-bezier(.4,0,.2,1);
	width:20px;
	height:20px;
	fill:#fff;
	display:inline-block;
	vertical-align:middle;
	left: 80%;
	opacity: 1;
	margin-bottom: 80px;
}

@media screen and (max-width:875px){
	.project-prev.swiper-button-prev{
		left: 70%;
	}
	.project-next.swiper-button-next{
		left: 90%;
	}
}

@media screen and (max-width:675px){
	.project-prev.swiper-button-prev{
		left: 65%;
	}
	.project-next.swiper-button-next{
		left: 85%;
	}
}

@media screen and (max-width:475px){
	.project-prev.swiper-button-prev{
		left: 55%;
	}
	.project-next.swiper-button-next{
		left: 80%;
	}
}

.arrow-prev:hover,
.arrow-next:hover{
	transform: scale(1.4);
}
.arrow-prev,
.arrow-next{
	transition: transform 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}

.swiper-container {
	margin-left: auto;
	margin-right: auto;
	position: relative;
	list-style: none;
	padding: 0;
}

.swiper-wrapper {
	width: 100%;
	height: 100%;
	z-index: 1;
	display: flex;
	transition-property: transform;
	margin-bottom: 100px;
}

.swiper-slide {
	flex-shrink: 0;
	width: 100%;
	height: 100%;
	position: relative;
	transition-property: transform;
}